* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: gray;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.btn:hover {
    color: white !important;
    background: gray;
}

/* Master styles */ 
header {
    
    height: 66px;
    position: sticky;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}

h1, h2, h3 {
    font-family: "Candal", serif;
}

/*Nav styles*/

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header .brand {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .brand-text {
    margin: 6px;
    font-family: 'Candal', serif;
}

header .brand-text span {
    color: #1c1c1f;
}

header ul li a {
    display: block;
    justify-content: space-between;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none !important;
    transition: all .3s;
}

header ul a:hover {
    border-bottom: 1px solid black;
    color: black;
    
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 100%;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li {
    width: 100%;
    text-decoration: none !important;
}

header ul li ul li a{
    padding: 10px;
}

header ul li ul li a:hover{
    color: black;
    border-bottom: 0px solid black;
    text-decoration: none !important;
}
header ul li ul li a.logout{
    color: red;
}

header .menu-toggle {
    display: none;
}

header * {
    color: gray;
    font-family: 'Lora', serif;
    position: sticky;
}

/*Search*/

.wrapper{
    min-height: 100%;
}
  
.search_box{
    width: 800px;
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
    
    margin: 0 auto;
}


.search_box .dropdown{
    width: 400px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
    
}
  
.search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
}
  
.search_box .dropdown ul{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style: none;
}
  
.wrapper .search_box .dropdown ul.active{
    display: block;
}
  
.search_box .dropdown ul li{
    padding-bottom: 20px;
}
  
.search_box .dropdown ul li:last-child{
    padding-bottom: 0;
}
  
.search_box .dropdown ul li:hover{
    color: #6f768d;
}
  
.search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: #232324 transparent transparent transparent;
}

.search_box .search_field{
    width: 350px;
    height: 100%;
    position: relative;
}
  
.search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #232425;
}
  
.search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #0f0f11;
    cursor: pointer;
}
  
::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
    color: #9fa3b1;
}

::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
}
:-ms-input-placeholder {  /*IE 10+ */
    color: #9fa3b1;
}

/*Content*/

.content {
    width:90%;
    margin: 30px auto 30px;
    min-height: 100%;  
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content .post {
    width: 70%;
    height: 100px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    
}

.content .main-content .post .post-image {
    width: 40%;
    height: 50px;
    float: left;
}

.content .main-content .post .post-preview {
    width: 30%;
    padding: 10px;
    float: right;
}

.content .main-content .post .post-preview a{
    color: black;
    text-decoration: none;
    font-family: 'Candal', serif;
}

.content .main-content .recent-schools{
    margin: 20px;
}
.content .sidebar {   
    width: 30%;
    float: left;
    height: 300px;
}

/*footer*/
.footer {
    background: #303036;
    color: #d3d3d3;
    height: 350px;
    position: relative;  
}

.footer .footer-content  {
    flex: 1;
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1, 
.footer .footer-content h2 {
    color: gray
}
.footer .footer-content .about h1 span {
    color: #1c1c1f;
}
.footer .footer-content .about .contact span {
    display: block;
    font-size: .9em;
    margin-bottom: 4px;
}
.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 5px;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;

}

.footer .footer-content a {
    color: white;
    text-decoration: none;
} 

.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: .8rem;
    padding: .7rem 1rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .footer-bottom {
    position: absolute;
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
}

/*media querries*/
@media only screen and (max-width: 815px) {
    header {
        position: relative;
        
    }
    header ul {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }
    .active {
        max-height: 100em;
    }
    
    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }

    header ul a:hover {
        border-bottom: 0px solid black;
        color: black;
    }
    header ul li ul li a {
        padding: 10px;
        padding-left: 40px;
    }
    header ul li ul li a.logout {
        color: red;
    }
    header .menu-toggle {
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;
        font-size: 1.9em; 
    }

    header .brand {
        margin-left: .2em;
    }

}

@media only screen and (max-width: 815px){
.footer {
    background: #303036;
    color: #d3d3d3;
    height: auto;  
}

.footer .footer-content  {
    flex-direction: column;
    height: auto;
    
}

}