{% extends 'base.html' %}

{% block content %}
<div class="content clearfix">
    <div class="main-content">
<title>About us</title>
<h1 style="text-align:center" >About us</h1>
We connect students with schools. 
</div>
</div>
{% endblock %}