{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>School information</title>
<div class="content clearfix">
    <div class="main-content">
<h1>School details</h1>

<form action=""  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
</form>
    </div>
    <div class="sidebar"></div>
</div>
<!--


   

   
    <div class="form-group">
        <label for="school_name">Name of the school</label>
        <input type="school_name" class="form-control" id="school_name" aria-describedby="school" placeholder="Enter school name">
    </div>
    
    <div class="form-group">
      <label for="picture">Import the logo</label>
      <input type="file" class="form-control-file" id="picture">
    </div>

    school category: <input type="text" name="school_category"><br>

    Title of the advert: <input type="text" name="title"><br>
    Full description: <input type="text" name="full_description"><br>
    Deadline: <input type="text" name="deadline"><br>

    Contact person: <input type="text" name="contact_person"><br>
    Email: <input type="text" name="email"><br>
    Phone number: <input type="text" name="phone_number"><br>
    
 
    Country: <input type="text" name="country"><br>
    City: <input type="text" name="city"><br>

  
    Additional info: <input type="text" name="additional_info"><br>
    Additional document: <input type="text" name="additional_document"><br>

    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

</form>
-->
{% endblock %}