{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>HOME</title> -->
    <!-- Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">

    <!-- Bootstrap-->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
</head>
<body>
    <header>
        <div class="brand">
            <h1 class="brand-text"><span>School</span>Connect</h1>
        </div>
        <i class="fa fa-bars menu-toggle"></i>
        <ul class="nav-wrapper">
            <li><a href="/home" style="text-decoration: none" >Home</a></li>
            <li><a href="/about" style="text-decoration: none">About</a></li>
            <li><a href="/help" style="text-decoration: none">Help</a></li>
            <li><a href="/contact" style="text-decoration: none">Contact Us</a></li>
            <li>
                <a href="#" style="text-decoration: none">
                    <i class="fa fa-user" ></i>
                    User
                    <i class="fa fa-chevron-down" style="font-size: .8em;"></i>
                </a>
                <ul>
                    <li><a href="/home" style="text-decoration: none">Home</a></li>
                    <li><a href="/advert" style="text-decoration: none">Advert</a></li>
                    <li><a href="/help" style="text-decoration: none">Help</a></li>
                    <li><a href="/logout" class="logout" style="text-decoration: none">Logout</a></li>
                </ul>
            </li>
        </ul>            
    </header>

    <!--Search-->
    <div class="wrapper">
        <div class="search_box" >
                <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose category</option>
                        <option value="1">University</option>
                        <option value="2">High school</option>
                        <option value="3">Primary schools</option>
                      </select>
            <div class="search_field">
                <input type="text" class="input" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>
        </div>

        <!--content -->
        {% block content %}
        <div class="content clearfix">
            <div class="main-content">
                
            </div>
            
            <div class="sidebar">

            </div>
        </div>

        {% endblock %}
    </div>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>School</span>Connect</h1>
                <p>
                    School app connect 100+ schools to thousands of students.
                </p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> &nbsp; +2507548556668 </span> <br>
                    <span><i class="fas fa-envelope"></i> &nbsp; info@schoolapp.com </span>
                </div>
                <div class="socials">
                    <a href="a"><i class="fab fa-facebook"></i></a>
                    <a href="a"><i class="fab fa-instagram"></i></a>
                    <a href="a"><i class="fab fa-twitter"></i></a>
                    <a href="a"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2> Quick Links</h2>
                <br>
                <ul>
                    <a href="#"><li>Terms and Conditions</li></a>
                    <a href="#"><li>Private notice</li></a>
                    <a href="#"><li>Website Terms</li></a>
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact</h2>
                <br>
                <form action="index.html" method="post">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address"> <br>
                    <textarea name="message" id="" class="text-input contact-input" placeholder="Your message "></textarea><br>
                    <button type="submit" class="btn btn-big contact-btn">
                        <i class="fas fa-envelope"></i>
                        Send</button>
                </form>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, SCHOOL APP</p>
        </div>
    </div>
    

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{% static 'js/scripts.js' %}"> </script>
</body>
</html>