{% extends 'base.html' %}

{% block content %}
<div class="content clearfix">
    <div class="main-content">
        <title>Contact us</title>
        <h1 style="text-align:center" >Contact</h1>
        Phone: <br>
        Email: <br>
        Home phone: <br>

</div>
</div>



{% endblock %}