{% extends 'base.html' %}

{% block content %}
<title>Help</title>
<div class="content clearfix">
    <div class="main-content">

<h1 style="text-align:center" >Help</h1>
If you need help, call 07895555855
</div>
</div>


{% endblock %}