{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Home</title>
<!--content -->
        <div class="content clearfix">
            <div class="main-content">
                <h2 class="recent-schools">Recent schools</h2>
                {% for res in result %}
                <div class="post">
                    <img src="static/img/image1.jpeg" alt="" class="post-image">
                    <div class="post-preview">
                        <h5><a href="post.html">{{ res.title }}</a></h5>
                        <i class="far fa-user">{{ res.school_name }}</i>
                        &nbsp;
                        <i class="far calendar"> Deadline: {{res.deadline}} </i>
                        <p class="preview-text">
                            {{ res.school_name }} is looking for students.
                        </p>
                        {% if res %}
                        <a href="/posted" class="btn read-more">Read More</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="sidebar"></div>
        </div>
    </div>


{% endblock %}
