{% extends 'base.html' %}

{% block content %}
<div class="content clearfix">
    <div class="main-content">
<h1>School details</h1>

{% for res in result %}

{{res.title}} <br>
{{res.description}}<br>

{% endfor %}
    </div>
</div>
{% endblock %}
